<!doctype html>
<html>
<head>

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body ng-app="testAngularApp" style="position: relative">
<!--[if lte IE 8]>

<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="MainCtrl" >


        <div class="row">
            <div class="menu">

                <div class="col-md-6">
                    <h3>Outils</h3>
                    <h1>Format de numérotation</h1>
                    <div class="row" id="column" >
                        <div class="col-md-2 col-titre2" ></div>
                        <div class="col-md-3 col-titre3">Préfixe</div>
                        <div class="col-md-3 col-titre3">Numérotation</div>
                        <div class="col-md-3 col-titre3">Suffixe</div>
                    </div>

                    <div class="row" id="titre1" ng-repeat="item in data">
                        <div class="col-md-2 col-titre2" >{{item.name}}</div>
                        <div class="col-md-3 col-titre3"><input type="text" class="form" placeholder="ex: -" ng-model="item.prefixe"></div>
                        <div class="col-md-3 col-titre3" >
                            <i class="material-icons">arrow_drop_down</i>
                            <select name="select" ng-model="item.numero.select" style="position: relative">
                            <option ng-repeat="option in item.numero.numerotation" value="{{option.id}}">{{option.value}} </option>

                        </select>
                            </div>
                        <div class="col-md-3"><input type="text" class="form" placeholder="ex: -" ng-model="item.suffixe"></div>
                    </div>

            <div class="button-numerotation">
                <button type="button" class="btn btn-primary" ng-click="saveData()" onclick="location.href = 'v1/numerotation'">Ok</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Annuler</button>
            </div>

                </div>
            </div>

            <div>
                    <span class="material-icons">clear</span>
            </div>


            <div class="result">
                <div class="col-md-6">

                    <div>Prévisualisation</div>
                    <div class="content-result" >
                        <div class="result-titre1">
                            <span ng-bind="data[0].prefixe"></span> <span ng-bind="data[0].numero.select"> </span> <span ng-bind="data[0].suffixe"> </span> Titre 1
                        </div>
                        <div class="result-titre2">
                            <span ng-bind="data[1].prefixe"></span> <span ng-bind="data[1].numero.select"> </span> <span ng-bind="data[1].suffixe"> </span> Titre 2
                        </div>
                        <div class="result-titre3" >
                            <span ng-bind="data[2].prefixe"></span> <span ng-bind="data[2].numero.select"> </span> <span ng-bind="data[2].suffixe"> </span> Titre 3
                        </div>
                        <div class="result-titre4">
                            <span ng-bind="data[3].prefixe"></span> <span ng-bind="data[3].numero.select"> </span> <span ng-bind="data[3].suffixe"> </span> Titre 4
                        </div>
                        <div class="result-titre5">
                            <span ng-bind="data[4].prefixe"></span> <span ng-bind="data[4].numero.select"> </span> <span ng-bind="data[4].suffixe"> </span> Titre 5
                        </div>
                        <div class="result-titre6">
                            <span ng-bind="data[5].prefixe"></span> <span ng-bind="data[5].numero.select"> </span> <span ng-bind="data[5].suffixe"> </span> Titre 6
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>

<!-- endbuild -->
</body>
</html>
